[submodule "aloe-blockchain-gui"]
	path = aloe-blockchain-gui
	url = https://github.com/Aloe-Network/aloe-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Aloe-Network/mozilla-ca.git
